/* container.scss */

body {
  display: grid;
  grid-template-columns: [first] 1fr [second] 2fr [third] 1fr [end];
  grid-template-rows: [row1-start] auto [row2-start] 1fr [row3-start] auto [row-end];
  gap: 10px;
  padding: 20px;
  background-color: $background-color;
}

.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: $background-main-color;
  color: $font-alternative-color;
  max-width: 100%;
}

.main {
  grid-row: 2 / 3;
  background-color: $background-main-color;
  padding: 20px;
  border-radius: 8px;
  max-width: 64em;
}

.main.technology {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
  background-color: $background-main-color;
  border-radius: 8px;
  max-width: 64em;
}

.menu {
  grid-column: 1 / 2;
  grid-row: 1;
  align-self: start;
}

.article {
  grid-column: 2 / 3;
  grid-row: 1;
  align-self: start;
  max-width: 64em;
}

.footer {
  grid-row: 3 / 4;
  text-align: center;
  background-color: $background-main-color;
  color: $font-alternative-color;
  padding: 20px;
}
