/* container.scss */

body {
    display: grid;
    grid-template-columns: [first] 1fr [second] 2fr [third] 1fr [end];
    grid-template-rows: [row1-start] auto [row2-start] 1fr [row3-start] auto [row-end];
    gap: 10px;
    padding: 20px;

    .header {
        grid-column: first / end;
        grid-row: row1-start / row2-start;
        padding: 20px;
        text-align: center;
        background-color: #005f73;
        color: white;
    }

    .main {
        grid-column: second / third;
        grid-row: row2-start / row3-start;
        background-color: #ffffff;
        padding: 20px;
        border-radius: 8px;
    }

    .footer {
        grid-column: first / end;
        grid-row: row3-start / row-end;
        padding: 20px;
        text-align: center;
        background-color: #005f73;
        color: white;
    }
}