/* footer.scss */

.footer {
  display: grid;
  grid-template-columns: [first] 1fr [second] auto [third] auto [end];
  grid-template-rows: [row1-start] auto [row-end];
  color: $font-color;
  padding: 2rem;
  grid-row: 3;

  .footer-text {
    grid-column: first / second;
    grid-row: row1-start / row-end;
    text-align: left;
    font-size: 1rem;
    color: $font-color;
  }
}

.social {
  grid-column: third / end;
  grid-row: row1-start / row-end;
  text-align: right;

  a {
    text-decoration: none;
    font-size: 3rem;
    color: $font-color;
  }
}
