/* responsive.scss */

@media (max-width: 767px) {
    body {
        padding: 10px;
        font-size: 90%;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;

        .title,
        .logo {
            padding: 1em 0;
            text-align: center;
            min-width: auto;
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 10px;
            text-align: center;
        }
    }

    .main {
        width: auto;
        padding: 15px;
        margin: 0 auto;
        max-width: 100%;
        word-wrap: break-word;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;

        .social {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            gap: 10px;
        }
    }

    .logo img {
        max-width: 80%;
        height: auto;
        margin: 0 auto;
    }

    p,
    td,
    th,
    li,
    dd {
        font-size: 0.9em;
        padding: 0.5em 0;
        word-wrap: break-word;
        margin: 0;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    ol,
    ul {
        padding-left: 1em;
    }
}