/* style.scss */

@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'typography';
@import 'technology';
@import 'container';
@import 'header';
@import 'footer';
@import 'tables';
@import 'gallery';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

* {
  box-sizing: border-box !important;
  border: 0 none;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

ol,
ul {
  padding-left: 1.5em;
}

.hidden {
  display: none !important;
}

html,
body {
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  color: $font-color;
  background-color: $background-color;
  padding: 20px;
}

.main {
  grid-row: repeat(2, 1fr);
  grid-column: 1fr;
  background: $background-main-color;
  padding: 20px;
  border-radius: $border-radius;
  width: 64em;
  max-width: 100%;
  margin: 1.96rem auto;
}

.header,
.footer {
  grid-column: 1fr;
  padding: 10px 20px;
  background-color: $background-main-color;
  color: $highlight-color;
  text-align: center;
  border-radius: 4px;
}

p,
td,
th,
li,
dd {
  text-align: justify;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.logo img {
  width: 300px;
  height: auto;
  border-radius: 50%;
  max-width: 100%;
}

.social a {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.logo {
  grid-column: 1 / 2;
  justify-self: start;
  align-self: center;
}

.title {
  grid-column: 2 / 3;
  text-align: center;
  color: $highlight-color;

  h1 {
    margin: 0;
    font-size: 1.8rem;
  }

  p {
    margin: 0;
    font-size: 1rem;
  }
}

.site-header {
  display: contents;
}

a {
  color: $font-color;
}

@import 'responsive';
