/* style-dark.scss */

// Ja, denna fil är kaos. Jag gjorde såhär för att inte behöva oroa mig för sambandet mellan mina färger för variabler. Samt att jag gjorde uppgiften innan jag såg föreläsningen.
// If it works, it works...

@import '../../node_modules/normalize.css/normalize';
@import 'variables';
@import 'blockquotes';
@import 'code';
@import 'typography';
@import 'technology';
@import 'container';
@import 'header';
@import 'footer';
@import 'gallery';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import 'responsive';

* {
  box-sizing: border-box;
  border: 0 none;
  margin: 0;
  padding: 0;
  color: $font-color-dark;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

ol,
ul {
  padding-left: 1.5em;
}

.hidden {
  display: none !important;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  color: $font-color;
  background-color: $background-color-dark;
  padding: 20px;
  font-family: sans-serif;
  line-height: 1.5rem;
}

.main {
  grid-row: 2;
  grid-column: 1;
  background: $background-main-color-dark;
  padding: 20px;
  border-radius: $border-radius-dark;
  width: 64em;
  margin: 1.96rem auto;
}

.main.technology {
  background-color: $background-main-color-dark !important;
}

.header,
.footer {
  grid-column: 1;
  padding: 10px 20px;
  background: $background-main-color-dark !important;
  color: $font-alternative-color-dark;
  text-align: center;
  border-radius: 4px;
}

.header {
  grid-row: 1;
  color: $font-color-dark;
}

.footer {
  grid-row: 3;
  color: $font-color-dark !important;

  .footer-text {
    color: $font-color-dark !important;
  }
}

p,
td,
th,
li,
dd {
  color: $font-color-dark !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $font-color-dark !important;
}

a {
  color: $font-color-dark !important;
}

.logo img {
  width: 300px;
  height: auto;
  border-radius: 50%;
  max-width: 100%;
}

.social a {
  display: inline-block;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: $font-color-dark !important;
}

.logo {
  grid-column: 1 / 2;
  justify-self: start;
  align-self: center;
}

.title {
  grid-column: 2 / 3;
  text-align: center;
  color: $font-color-dark !important;

  h1 {
    margin: 0;
    font-size: 1.8rem;
  }

  p {
    margin: 0;
    font-size: 1rem;
  }
}

.site-header {
  display: contents;
}

blockquote {
  border-left: 0.5em solid #333 !important;
}

code {
  border: 1px solid $border-color-dark !important;
  background: $border-color-dark !important;
  color: $background-color-dark !important;

  pre {
    border: 1px solid $border-color-dark !important;
    background: $border-color-dark !important;
  }
}

.box {
  border-color: $font-color-dark;
}

table {
  border: 5px dotted $font-alternative-color-dark !important;

  td {
    border-top: 1px solid $font-color-dark !important;
  }
}

.header,
.main,
.footer {
  border: 10px solid $border-color-dark !important;
  border-style: outset;
}