/* technology.scss */

.landingpage h1 {
  grid-column: span 3;
  justify-self: center;
}

.box {
  border: 1px solid $font-color;
  padding: 1.96rem;
  color: $font-color;
}

.box:hover {
  box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.2);
}

.landingpage {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 200px;
  gap: 1.96rem;
  margin-bottom: 1.96rem;
  justify-content: center;
  align-content: start;

  .box.css {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .box.html {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }

  .box.javascript {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }

  .box.php {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  .box.python {
    grid-column: 1 / 4;
    grid-row: 4 / 4;
  }

  .box.git {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
  }

  .box.sqlite {
    grid-column: 2 / 4;
    grid-row: 5 / 6;
  }
}